.myrecipescard card-img-top {
    height: 200px;
}

.myrecipescardbody {
    height: 120px !important;
    background-color: #dde1fc;
}

.list-group-flush {
    background-color: #dde1fc;
}

.listitem {
    background-color: #dde1fc !important;
}