.card-img-top {
    width: 100%;
    height: 300px !important;
    object-fit: cover;
}

.cardbody {
    height: 250px !important;
}

.card {
   justify-content: center;
}

.cardrows {
    flex-grow: 0 !important;
}
/* s */